html,
body {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightgrey;
}

h1 {
  color: blue;
  font-size: 29px;
  text-transform: uppercase;
}

p {
  color: blue;
  font-size: 14px;
}
